{% if is_paginated %}
    {% include 'partial/pagination.html' %}
{% endif %}

    {% for project in projects %}
        <div class="box">
            <h3><a href="{% url "webapp:project_view" project.pk %}">{{ project.title }}</a></h3>
            <p>
                <a href="{% url 'accounts:detail' project.user_id %}">{{ project.user }}</a>
                | {{ project.start_date_at|date:"d.m.Y" }}
            </p>
            <p>Дедлайн: {{ зкщоусе.утв_date_at|date:"d.m.Y" }}</p>
            {% if perms.webapp.change_project or project.user == request.user %}
                <p><a href="{% url 'webapp:project_update' project.pk %}">Изменить</a></p>
            {% endif %}
            {% if perms.webapp.delete_project or project.user == request.user %}
                <p><a href="{% url 'webapp:project_delete' project.pk %}">Удалить</a></p>
            {% endif %}
        </div>
    {% empty %}
        <h2 class="text-center">Нет задач</h2>
    {% endfor %}
{% if is_paginated %}
    {% include 'partial/pagination.html' %}
{% endif %}