{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Задачи{% endblock %}</title>
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">#}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block links %}{% endblock %}
</head>
<body>
    <nav class="navbar">
       <div class="container">
           <ul class="menu">
               <li><a href="{% url 'index' %}">Главная</a></li>
               <li><a href="{% url 'project_create' %}">Добавить проект</a></li>

               {% block menu %}{% endblock %}
           </ul>
{#           {% block search %}#}
{#           {% endblock %}#}

       </div>
    </nav>
{#    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">#}
{#        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"#}
{#                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{##}
{#        <div class="collapse navbar-collapse" id="navbarColor02">#}
{#            <ul class="navbar-nav mr-auto">#}
{#                <li class="nav-item active">#}
{#                    <a class="nav-link" href="{% url 'index' %}">Главная<span class="sr-only">(current)</span></a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{% url 'task_create' %}">Добавить задачу</a>#}
{#                </li>#}
{#                {% block menu %}{% endblock %}#}
{#            </ul>#}
{#                    <form type="get" action={% url 'index' %} style="margin:0">#}
{#                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
{#                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>#}
{#                      </form>#}
{#                {% block search %}#}
{#                {% endblock %}#}
{#            </form>#}
{#        </div>#}
{#    </nav>#}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
