{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{#{% block search %}#}
{#            <div class="search-form">#}
{#                <form action="{% url 'index' %}" method="GET">#}
{#                    {{ form.search }}#}
{#                    <input type="submit" value="Найти">#}
{#                </form>#}
{#            </div>#}
{#{% endblock %}#}

{% block content %}
    <h1>Проекты</h1>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

    {% for project in projects %}
        <h3><a href="{% url "project_view" project.pk %}">{{ project.description }}</a></h3>
        <p>Дата начала: {{ project.start_date_at|date:"d.m.Y" }} | Дата окончания: {{ project.end_date_at|date:"d.m.Y" }}</p>
{#        <p><a href="{% url 'task_update' task.pk %}">Изменить</a> | <a href="{% url 'task_delete' task.pk %}">Удалить</a></p>#}
        <hr>
    {% endfor %}

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
