{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{#{% block search %}#}
{#            <div class="search-form">#}
{#                <form action="{% url 'index' %}" method="GET">#}
{#                    {{ form.search }}#}
{#                    <input type="submit" value="Найти">#}
{#                </form>#}
{#            </div>#}
{#{% endblock %}#}

{% block content %}
    <h1>Проекты</h1>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

    {% for project in projects %}
        <h3><a href="{% url "project_view" project.pk %}">{{ project.title }}</a></h3>
        <p>Описание: {{ project.description }}</p>
        <p>Дата начала: {{ project.start_date_at|date:"d.m.Y" }} | Дата окончания: {{ project.end_date_at|date:"d.m.Y" }}</p>
        {% if request.user.is_authenticated %}
            {% if perms.webapp.change_project or project.user == request.user %}<p><a href="{% url 'project_update' project.pk %}">Изменить</a>{% endif %} | {% if perms.webapp.delete_project or project.user == request.user %}<a href="{% url 'project_delete' project.pk %}">Удалить</a></p>{% endif %}
        {% endif %}
        <hr>
    {% endfor %}

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
