{% extends 'base.html' %}

{% block title %}Задачи{% endblock %}

{% block content %}
    <h1>Задачи</h1>
    {% for task in tasks %}
        <h3><a href="{% url "task_view" task.pk %}">{{ task.summary }}</a></h3>
        <p>Статус: {{ task.status }}</p>
        <p>Тип: {% for type in task.type.all %}
    {{ type.title }}
            {% if not forloop.last %}, {% endif %}
    {% endfor %}</p>
        <p>Добавлена: {{ task.created_at|date:"d.m.Y H:i:s" }} | Обновлена: {{ task.updated_at|date:"d.m.Y H:i:s" }}</p>
        <p><a href="{% url 'task_update' task.pk %}">Изменить</a> | <a href="{% url 'task_delete' task.pk %}">Удалить</a></p>
        <hr>
    {% endfor %}
{% endblock %}
