{% extends 'base.html' %}

{% block title %}Задача {{ task.summary }}{% endblock %}

{% block menu %}
    <li><a href="{% url 'task_update' task.pk %}">Изменить</a></li>
    <li><a href="{% url 'task_delete' task.pk %}">Удалить</a></li>
    <li><a href="{% url 'project_view' task.project.pk %}">Вернуться к проекту</a></li>
{% endblock %}

{% block content %}
    <h1>{{ task.summary}}</h1>
    <p><b>Описание:</b> {{ task.description }}</p>
    <p><b>Добавлена:</b> {{ task.created_at|date:"d.m.Y H:i:s" }}</p>
    <p><b>Обновлена:</b> {{ task.updated_at|date:"d.m.Y H:i:s" }}</p>
    <p><b>Тип:</b> {% for type in task.type.all %}
    {{ type.title }}
    {% endfor %}
    </p>
    <p><b>Статус:</b> {{ task.status }}</p>

{% endblock %}
