{% extends 'base.html' %}

{% block title %}Проект {{ project.title }}{% endblock %}

{% block menu %}
{#    <li><a href="{% url 'project_update' task.pk %}">Изменить</a></li>#}
{#    <li><a href="{% url 'project_delete' task.pk %}">Удалить</a></li>#}
{#    <li><a href="{% url 'task_create' task.pk %}">Добавить задачу</a></li>#}
    {% if perms.webapp.create_task and request.user in project.task.user.all %}<li><a href="{% url 'project_task_create' project.pk %}">Добавить задачу</a></li>{% endif %}
{% endblock %}

{% block content %}
    <h1>{{ project.title}}</h1>
    <p><b>Описание:</b> {{ project.description }}</p>
    <p><b>Дата начала:</b> {{ project.start_date_at|date:"d.m.Y" }}</p>
    <p><b>Дата окончания:</b> {{ project.end_date_at|date:"d.m.Y" }}</p>
            <p>Создан пользователем:
                {% for user in project.user.all %}
                    <a href="{% url 'accounts:detail' user.pk %}">{{ user }}</a>
                {% endfor %}
            <h3>Задачи:</h3>

        {% for task in tasks %}
               <h4><a href="{% url "task_view" task.pk %}">{{ task.summary }} ({{ task.created_at }})</a></h4>
                <div class="pre">{{ task.description }}</div>
            {% if request.user.is_authenticated %}
                    {% if perms.webapp.update_task and request.user in project.task.user.all %}<p><a href="{% url 'task_update' task.pk %}">Изменить</a>{% endif %} | {% if perms.webapp.delete_task and request.user in project.task.user.all %}<a href="{% url 'task_delete' task.pk %}">Удалить</a>{% endif %}</p>
            {% endif %}
                <hr>
        {% empty %}
            <p>Нет задач</p>
        {% endfor %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
{% endblock %}